* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 300px;
}

#messages {
	height: 300px;
	border: 1px solid #000;
	overflow-y: scroll;
}

#messages > p {
	padding: 8px;
}

#name, #message, input[type='submit'] {
	padding: 8px;
}